DATABRICKS_HOST=https://fevm-midas.cloud.databricks.com
DATABRICKS_WAREHOUSE_ID=
DATABRICKS_SERVING_ENDPOINT_NAME=databricks-gpt-5-4
DATABRICKS_GENIE_SPACE_ID=
DATABRICKS_APP_PORT=8000
DATABRICKS_APP_NAME=midasv2
FLASK_RUN_HOST=0.0.0.0
